@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&display=swap");

body{
    font-family: "Kumbh Sans", sans-serif;
}

.btn-logout{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.main-container{
    min-height: 89vh;
    max-width: 1800px;
    display: flex;
    justify-content: center;
}


.switch{
    padding: 0.5rem 1.3rem;
    border-radius: 25px;
    font-weight: bold;
}

.switch.active{
    background-color: white;
}

.btn{
    margin: 2rem auto 0.5rem auto;
    padding: 0.2rem 5rem;
    background-color: black;
    color: white;
    font-weight: bold;
}

#form-signup,#form-login{
    display: none;
}
#form-signup.active,#form-login.active {
    display: block;
}

.modal-overlay {
    /* display: none; */
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-box {
    background-color: white;
    margin: 50% auto;
    padding: 5rem 2rem;
    border-radius: 15px;
    width: 100%;
}
