@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&display=swap");

body{
    font-family: "Kumbh Sans", sans-serif;
}

input[name="search"]:focus{
    outline: none;
}

.btn-logout{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.main-container{
    min-height: 100vh;
    max-width: 1800px;
    display: flex;
    justify-content: center;
}

.result-container{
    display: none;
    position: absolute;
    z-index: 5;
    top: 105%;
    max-height: 150px;
    overflow-y: auto; 
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0.5rem;
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.result-container.active{
    display: block;
}
.result-card{
    padding: 0.5rem 0;
    cursor: pointer;
}
.switch{
    padding: 0.5rem 1.3rem;
    border-radius: 25px;
    font-weight: bold;
}

.switch.active{
    background-color: white;
}

.btn{
    margin: 2rem auto 0.5rem auto;
    padding: 0.4rem 5rem;
    background-color: black;
    color: white;
    font-weight: bold;
}
form#transaction-form .btn{
    margin: 2rem auto 0.5rem auto;
    padding: 0.4rem 5rem;
    background-color: black;
    color: white;
    font-weight: bold;
}

#form-signup,#form-login{
    display: none;
}
#form-signup.active,#form-login.active {
    display: block;
}

.modal-overlay,.view-modal-overlay {
    display: none;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-overlay.active, .view-modal-overlay.active{
    display: block;
}

.modal-box, .view-modal-box {
    background-color: white;
    margin: 15% auto;
    padding: 2rem 2rem;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
}
.edit-btn{
    cursor: pointer;
}

table tr div.edit-box{
    padding: 0.7rem;
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    right: -15%;
    top: 100%;
    z-index: 2;
    display: none;
}

table tr div.edit-box.active{
    display: block;
}

.btn-add, .btn-update{
    display: none;
}
.btn-add.active, .btn-update.active{
    display: block;
}

.category-div{
    display: none;
    
}

.category-div.active{
    display: flex;
    flex-direction: column;
}

.highlight-border{
    border-radius: 15px;
    text-align: center;
    padding: 0.3rem 1.5rem;
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: lightgrey;
    color: white;
    font-size: 12px;
    width: 120px;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.view-btn, .editpen-btn, .delete-btn{
    cursor: pointer;
}


@media screen and (min-width:550px) {
    .modal-box{
        margin:4% auto;
    }

    table tr div.edit-box{
        right: auto;
        top: auto;
    }

    .highlight-border{
        font-size: 20px;
        width: 200px;
        height: auto;
    }
    .title-text{
        font-size: 25px;
    }
    
}

@media screen and (min-width:768px) {

    .highlight-border{
        width: 350px;
        height: auto;
    }
}